 .lftfontstylings{
    font-size: 45px;
    font-style: italic;
    font-weight: 200;
    color: black;
    
}
.lftfontstylings2{
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    color: black
}
.secondstyle{
    font-size: 50px;
    color: black;
}
.inputstyles{
    width: 500px;
    height: 50px;
    color: darkgray;
    border-radius: 10px;
}
.imgstyle{
     width: 250px !important;
     height: 65px;
}
.justycntntcntr{
    justify-content: center;
    align-items: center;
    display: flex;
}

.lftcolbg{
    background-color: rgb(171, 208, 230);
}

.lftcoltoptxt{
    font-size: 45px;
    font-weight: 200;
    color: black;
    /*text-align: center;*/
}

.lftcoltoptxtthick{
    font-size: 45px;
    font-weight: 900;
    color: black;
    /*text-align: center;*/
}

.numbercircle{
    width: 65px !important;
    height: 65px;
    border: 2px solid black;
    border-radius: 100%;
}

.lftpointnumber{
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.lftcolfeaturebold{
    font-size: 30px;
    font-weight: 600;
}

.lftcolfeaturenormal{
    font-size: 20px;
    font-weight: 300;
}

.rightcolexstingusertext{
    font-size: 15px;
    font-weight: 200;
    text-align: left;
    color: black;
}

.rightcollogintext{
    font-size: 30px;
    font-weight: 800;
    text-align: left;
    color: blue;
    border-bottom: 5px solid blue;
    width: 120px;
}

.rightcolregsiterext{
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: black;
    width: 85px;
}

.logininputfield{
    width: 500px !important;
    height: 65px;
    border: 2px solid black;
    border-radius: 10px;
}

.loginbutton{
    width: 100px;
    height: 40px;
    background-color: rgb(6, 6, 136);
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.forgetpasstext{
    font-size: 18px;
    font-weight: 500;
    color: orangered;
}

.googleiocnbg{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
} 
.facebookiocnbg{
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
}
.linkedlniocnbg{
    background-color: blueviolet;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: blue;
}